.channel-results-lists {
  padding-left: 0;
}

.channel-results-item {
  position: relative;
  font-size: 0.8rem;
  padding: 4px 10px;
  list-style: none;
  margin: 10px 0;
  border: 1px solid $black;
  border-radius: 10px;

  .channel-title {
    font-weight: bold;
  }
  .channel-description {
    font-size: 0.6rem;
  }
  img {
    height: 2.5rem;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;

    // &::after {
    //   opacity: 0.2;
    // }
  }

  //saved for future need
  //add an overlay to the items, which has opacity of 0 until the mouse hover over it
  // &::after {
  //   content: "\A";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   background-color: $light-blue;
  //   opacity: 0;
  //   transition: all ease 0.5s;
  // }
}
