.current-channel-thumbnail {
  width: 100%;
  max-width: 200px;
}

.current-channel-details {
  td:first-child {
    font-weight: bold;
  }
}

.current-channel-banner {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
  margin: 2rem 0;
}

.topic-list {
  padding-left: 0;
}
.topic-item {
  list-style: none;
}
