@import "custom";
@import "spinner";
@import "channelSearch";
@import "channelInfo";
@import "footer";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signout-btn {
  background: white;
  border: none;
}

.app-title {
  margin: 1rem 0;
  text-align: center;
}

.channel-search-container {
  transition: all ease 1s;
}

.current-channel-info-container {
  transition: all ease 1s;
  border-left: 1px solid $black;
}
